@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

body {
  font-family: "Manrope", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  font-size: 28px;
  box-sizing: border-box;
}

article > img:nth-child(3) {
  margin: 25px auto 50px auto;
}

article > img:nth-child(4) {
  display: none;
}

article {
  border-radius: 15px;
  width: 450px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: hsl(217, 19%, 24%);
  padding: 25px;
  position: relative;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: hsl(218, 23%, 16%);
}

button {
  display: block;
  padding: 20px;
  border-radius: 50%;
  border: unset;
  cursor: pointer;
  position: absolute;
  bottom: -35px;
  right: 220px;
  text-align: center;
}

p {
  text-align: center;
  color: hsl(193, 38%, 86%);
  font-size: 0.7em;
}

h1 {
  color: hsl(150, 100%, 66%);
  font-size: 0.7rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}

button > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

article > button:hover {
  background-color: hsl(150, 100%, 66%);
  box-shadow: 0 0 20px 10px hsl(150, 100%, 66%);
}

@media all and (max-width: 500px) and (min-width: 375px) {
  article {
    width: 80%;
  }

  article > img:nth-child(3) {
    display: none;
  }

  article > img:nth-child(4) {
    display: block;
    margin: 25px auto 50px auto;
  }

  button {
    right: 40%;
  }
}

@media all and (max-width: 374px) {
  article {
    width: 100%;
  }

  article > img:nth-child(3) {
    width: 100%;
  }

  button {
    right: 41%;
  }
}
